/* Algemene styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #228B22;
    padding: 12px;
    text-align: center;
    color: white;
    font-size: 24px;
    z-index: 1000;
}

/* Indexpagina */
#recipe-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-top: 60px;
}

/* Stijl van receptenblokken */
.recipe-tile {
    width: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.recipe-tile:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
    cursor: pointer;
}

.recipe-tile img {
    width: 150px;
    height: 100px;
    object